@import "~bootstrap/scss/bootstrap";
@import "admin";


body{
  font-family: 'Nunito', sans-serif !important;
}
.custom-btn{
  // border-radius: 10rem;
  padding: 0.5rem 2.5rem;
}
// hide scroll bar
.sidebar-content {
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
}
.sidebar-content::-webkit-scrollbar {
  display: none;  // Safari and Chrome
}

.intro{
  margin-top: 3rem;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #00bfa6;
}

.btn-info {
  color: #fff;
  background-color: #00bfa6;
  border-color: #00bfa6;
}
a {
  color: #00bfa6;
  text-decoration: none;
  background-color: transparent;
}

.card-img, .card-img-top, .card-img-bottom {
  flex-shrink: 0;
  width: 250px;
}
@media (min-width: 992px){

  .modal-lg, .modal-xl {
    max-width: 1200px;
  }

}
